{% extends 'base.html' %}
{% load static %}
{% block content %}
							
							<!-- Content -->
								<section>
									<header class="main">
										<h1>{{ recipe.title }}</h1>
									</header>

									<span class="image main"><img src="{{ recipe.get_image}}" style="height: 100px;" alt="" /></span>

									<p>{{ recipe.created }}</p>
                                    <p>{{ recipe.user }}</p>
                                    <p>{{ recipe.cooking_time }}</p>
									<hr class="major" />

                                      <!-- {% for image in images %}
                                     <img src="{{ image }}" class="img-thumbnall"  all="..."> -->
                                    <!-- {% endfor %}  -->
                                  

									<!-- <h2>{{ recipe.description|truncatewords:10 }}</h2> -->
									<p>{{ recipe }}</p>
                                    
								</section>

						</div>
					</div>

{% endblock %}



